/*** Table Styling ***/

table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 100%;
border-collapse:collapse; 
border-spacing: 0;
}

td, th { 
  border: 1px solid #CCC; 
  height: 30px; 
  } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
}

/*** Form Styling ***/
.formBody {
  background: #26a69a;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #b2dfdb;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=submit] {
    background:#4CAF50; 
    border:0 none;
    cursor:pointer;
}
.form input [type=submit]:hover,input [type=submit]:active,input [type=submit]:focus {
  background: #8bc34a;
}

.form a{
  color: #4CAF50;
  text-decoration: none;
}

.error {
  color: #e80000;
  font-style: italic;
}

.clear {
  clear: both;
}

/* Footer Section */
footer{
  position: fixed;
  bottom: 0;
}

@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}